* {
    /* margin: 0; */
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

div {
    margin: 5px;
}

button {
    display: block;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
}

input {
    text-align: center;
}

.entradaJogador {
    border: 1px solid black;
    width: 28%;
}

.blocoJogador {
    display: flex;
    justify-content: space-around;
}

#bigBlock {
    display: flex;
    justify-content: center;
}

#bordaMatriz {
    height: 60%;
    width: 80%;
    padding: 0px;
    grid-template-columns: 16% 16% 16% 16% 16%;
    grid-template-rows: 40px 40px 40px 40px 40px;
    display: grid;
    justify-content: center;
}

.caixa {
    border: solid 0.5px black;
    margin: 0;
}