body {
    background-color: darkgrey;
    box-sizing: border-box;
  }
  #name {
    font-family: Helvetica, sans-serif;
    border: 1px solid;
    text-align: center
  }
  .begin {
    border: 1px solid;
    padding: 5px;
    display: flex;
  }
  .begin-left {
    border: 1px solid;
    padding: 5px;
    width: 50%;
    margin: 1px;
  }
  .begin-right {
    border: 1px solid;
    padding: 5px;
    width: 50%;
    margin: 1px;
  }
  #picture {
    width: 35%;
  }
  .description {
    font-family: Arial, serif;
  }
  em {
    text-decoration: underline;
  }
  strong {
    letter-spacing: 4px;
  }
  .li1 {
    font-size: 15px;
    }
  .li2 {
      font-size: 20px;
    }
