* {
    /* margin: 0; */
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

div {
    margin: 5px;
}

button {
    display: block;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
}

input {
    text-align: center;
}

.entradaJogador {
    border: 1px solid black;
    width: 28%;
}

.blocoJogador {
    display: flex;
    justify-content: space-around;
}

#bigBlock {
    display: flex;
    justify-content: center;
}

#bordaMatriz {
    height: 240px;
    width: 80%;
    padding: 0px;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 40px 40px 40px 40px 40px 40px;
    display: grid;
    justify-content: center;
}

.caixa {
    border: solid 1px black;
    margin: 0px;
    padding: 0;
    height: 40px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.azul {
    background-color: blue;
    color: white;
}

.vermelho {
    background-color: red;
}

.selecionado {
    border: red 5px solid;
    height: 30px;
}