body {
    background-color: rgb(175, 175, 252);
    box-sizing: border-box;
  }
  #name {
    font-family: Helvetica, sans-serif;
    border: 1px solid;
    text-align: center;
  }
  .begin {
    border: 1px solid;
    padding: 5px;
    display: flex;
  }
  .begin-left {
    border: 1px solid;
    padding: 5px;
    width: 50%;
    margin: 1px;
    text-align: center;
  }
  .begin-right {
    border: 1px solid;
    padding: 5px;
    width: 50%;
    margin: 1px;
  }
  #picture {
    width: 35%;
    background-color: rgb(84, 84, 167);
    padding: 35px;
    border: 1px solid;
  }
  .description {
    font-family: Arial, serif;
  }
  em {
    text-decoration: underline;
  }
  strong {
    letter-spacing: 4px;
  }
  .li1 {
    font-size: 15px;
    border: 2px dashed blue;
    width: 35%;
    }
  .li2 {
      font-size: 20px;
    }
  .topic {
    border: 2px solid black;
    margin: 3px;
  }
